@import "./colors";

@mixin deep-button($background-color, $vertical-padding, $horizontal-padding, $font-weight: normal, $font-size: 1rem, $text-color: color(light)) {
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-radius: 2px;
  border-right: none;
  border-top: none;
  cursor: pointer;
  position: relative;
  transition: all 0.15s;

  .deep-text {
    transform: translateY(0rem);
    transition: all 0.1s linear;
  }

  &:after {
    background: rgba(0, 0, 0, 0.2);
    bottom: -4px;
    color: transparent;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease;
    width: 0%;
  }

  &:hover:after {
    width: 100%;
  }

  &:active:not([disabled]) {
    border-color: rgba(0, 0, 0, 0);

    .deep-text {
      transform: translateY(0.15rem) scale(0.98);
    }

    &:after {
      height: 0;
    }
  }

  &[disabled] {
    border: none !important;
    background-color: color(gray, base);
  }

  background-color: $background-color;
  color: $text-color;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: 1px;
  line-height: 1.8rem;
  outline: none;
  padding: $vertical-padding $horizontal-padding;
}

@mixin rounded-button($bg-color, $color) {
  background-color: $bg-color;
  border-radius: 0.3rem;
  border: none;
  color: $color;
  cursor: pointer;
  outline: none;
  padding: 0.25rem 0.75rem;
  transition: all 0.25s ease;

  &:hover {
    background-color: darken($bg-color, 7.5%);
  }
}