@import "ui-elements/colors";

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input, textarea {
  background-color: #f3f3f3;
  border: none;
  border-bottom: 2px solid lighten(color(gray, base), 25%);
  border-radius: 0.2rem;
  box-shadow: none;
  color: color(primary, base);
  font-size: 1rem;
  height: 3rem;
  outline: none;
  padding: 0.75rem 1rem;
  transition: all 0.5s ease;
  width: 100%;

  &::placeholder {
    color: color(neutral, trans);
  }

  &:hover,
  &:focus {
    box-shadow: none;
    outline: 0;
  }

  &:active {
    border-bottom: 2px solid lighten(color(gray, base), 25%);
  }

  &:focus {
    background-color: rgba(color(secondary, base), 0.12);
    border-bottom: 2px solid color(primary, base);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.ng-touched.ng-invalid {
    background-color: color(warning, base) !important;
    border-color: transparent !important;
    color: color(light) !important;
  }
}

textarea {
  height: 8rem;
  padding: 1rem;
  resize: vertical;
}

.mandatory-field {
  position: relative;

  &::after {
    color: color(warning, base);
    content: '*';
    font-size: 1.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
  }
}